{
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "arrowParens": "avoid",
  "trailingComma": "none",
  "quoteProps": "consistent",
  "printWidth": 100,
  "htmlWhitespaceSensitivity": "ignore"
}
